.logo {
  width: 150px;
}

.logo {
  width: 130px;
}

#team {
  display: flex;
  justify-content: space-around;
}

.row {
  justify-content: space-between;
}

#team {
  text-align: center;
}

.imgg {
  width: 120px;
}

.imgg {
  width: 200px;
}
.foot{
  text-align: center;
  letter-spacing: 2px;
  background-color: black;
  color:white;
  
}
